@model IEnumerable<testfan2.Models.Fixture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam.NationCode)
        </th>
        <th>
            <text>Score</text>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam.NationCode)
        </th>
    
    
      
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoundStage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.NationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamScore)
        <text>-</text>
            @Html.DisplayFor(modelItem => item.AwayTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam.NationCode)
        </td>
    
       
        
        <td>
            
            @if (item.gamePlayed == false)
            {
            @Html.ActionLink("PlayGame", "PlayGame", new { id = item.FixtureId }) 
            }
            else { <text>Full time</text>}|
            @Html.ActionLink("Details", "Details", new { id=item.FixtureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FixtureId })
        </td>
    </tr>
}

</table>
