@model testfan2.Models.Player

@{
    ViewBag.Title = "Player Info";
}

<h2>Details</h2>

    <h4>Player</h4>
    
    <div class="actionbox ashbox">

        <h3>@Html.DisplayFor(model => model.PlayerFirstname)</h3>
        <h3>@Html.DisplayFor(model => model.PlayerSurname)</h3>
        <img src="~/Images/players/player.JPG" alt="Profile" width="250" height="300" class="floatright">
        

        <h1 class="floatleft">
           <text>Position: </text> @Html.DisplayFor(model => model.Position)<br /> <text>DOB: </text> @Html.DisplayFor(model => model.DateOfBirth)<br />

            <text>Value: </text>@Html.DisplayFor(model => model.PlayerValue) <text>million</text><br /> <text>Team: </text>@Html.DisplayFor(model => model.NationTeam.Nation)<br />
        </h1>

       
  <p class="button floatright"> @Html.ActionLink("Back to players", "Index") </p>
       
            
        
        
        
   
     
    </div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
