@model testfan2.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Round.RoundID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Round.RoundID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixtureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FixtureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
