@model IEnumerable<testfan2.Models.Fixture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Round.RoundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixtureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Round.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixtureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FixtureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FixtureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FixtureId })
        </td>
    </tr>
}

</table>
