@model testfan2.Models.Round

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoundStage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundStage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoundID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
